<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Offers</title>
        <div th:insert="~{fragments/fragments :: imports}"></div>
    </head>
<body>
    <div class="container">
        <div class="pizza">
            <span class="fw-bold">Your Pizza: </span>
            <span>[[${pizza.name}]]</span>
        </div>
        <div class="offer">
            <form th:action="@{'/pizzas/' + ${pizza.id} + '/offers/create'}" th:object="${offer}" method="POST">
                <div class="title mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Offer title..." th:field="*{title}">
                </div>
                <div class="startDate mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
                </div>
                <div class="stopDate mb-3">
                    <label for="stopDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="stopDate" th:field="*{stopDate}">
                </div>
                <button type="submit" class="btn btn-success">Create Offer</button>
            </form>
        </div>
    </div>
</body>
</html>
