<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzas</title>
	<div th:insert="~{fragments/fragments :: imports}"></div>
</head>
<body>
	<div class="container">
		<h1 class="text-danger text-center my-2">Menù</h1>
		<div class="text-center my-5" th:if="${pizzas.size() == 0}">No Pizzas registered here yet</div>
		<div th:unless="${pizzas.size() == 0}">
				<header class="py-3">
					<div class="row my-2">
						<div class="col-6 offset-1">
							<form action="" method="GET" class="d-flex align-items-center gap-2">
								<input type="text" class="form-control" id="searchedWord" placeholder="Search a pizza..." name="searchedWord" th:value="${searchedWord}">
								<button type="submit" class="btn btn-danger">
									<span><i class="fa-solid fa-magnifying-glass"></i></span>
									<span>Search</span>
								</button>
							</form>
						</div>
						<div class="col-4 mx-auto" sec:authorize="hasAuthority('ADMIN')">
							<a th:href="@{/pizzas/create}" class="btn btn-success">
								<span><i class="fa-solid fa-plus"></i></span>
								<span>New Pizza</span>
							</a>
							<a th:href="@{/pizzas/trash}" class="btn btn-danger">
								<span><i class="fa-solid fa-trash-can-arrow-up"></i></span>
								<span>Trash Can</span>
							</a>
							<a th:href="@{/ingredients}" class="btn btn-outline-primary">
								<span><i class="fa-solid fa-pepper-hot"></i></span>
								<span>Our Ingredients</span>
							</a>
						</div>
					</div>
				</header>
		
				<table class="table table-danger table-striped myTable">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Tasks</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="pizza : ${pizzas}">
						<td>[[${pizza.id}]]</td>
						<td>[[${pizza.name}]]</td>
						<td>[[${pizza.getFormattedPrice()}]]</td>
						<td>
							<a class="btn btn-primary" th:href="@{/pizzas/{id}(id=${pizza.id})}">
								<i class="fa-solid fa-eye"></i>
							</a>
							<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-warning" th:href="@{/pizzas/edit/{id}(id=${pizza.id})}">
								<i class="fa-solid fa-pen"></i>
							</a>
							<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/pizzas/trash/{id}(id=${pizza.id})}" method="POST" class="d-inline-block">
								<button type="submit" class="btn btn-danger">
									<i class="fa-solid fa-trash-can"></i>
								</button>
							</form>
						</td>
					</tr>
					</tbody>
				</table>
		</div>
		<footer class="text-center mt-5">
			<div th:if="${username} != 'Null'">
				<div class="user">
					<span class="fw-bold">User: </span>
					<span>[[${username}]]</span>
				</div>
				<div class="role">
					<span class="fw-bold">Role: </span>
					<span>[[${role}]]</span>
				</div>
			</div>
			<div th:unless="${username} != 'Null'" >
				<div class="user">
					<span class="fw-bold">User: </span>
					<span>Guest</span>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
